# OS X
.DS_Store

# Environment Variables
.env

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
Package.resolved
StreamChat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

## Build generated
build/
DerivedData/

# Interface Analyser
stream-module-interface-analyser/
interface-analyser-report.md
public_interface_current.*
public_interface_previous.*

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
Pods/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

!fastlane/.env
fastlane/fastlane.log
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/allurectl
fastlane/xcresults
fastlane/recordings
fastlane/performance
fastlane/sonar
fastlane/mint
**/metrics/
StreamChatCore.framework.coverage.txt
StreamChatCoreTests.xctest.coverage.txt
vendor/bundle/
.bundle/
.swiftpm
Sample/Cocoapods/Podfile.lock
docusaurus/.env
reports/
.scannerwork/
push_payload.json
sinatra_log.txt
derived_data/
spm_cache/
.buildcache
buildcache
App Thinning Size Report.txt
app-thinning.plist
*.dmg
*.pkg*

# gcloud
google-cloud-sdk
gcloud.tar.gz
gcloud-service-account-key.json

# Ignore Products folder
Products/

# Ignore Dependencies folder
Dependencies/

# VSCode
.vscode
buildServer.json
