github "kean/Nuke"
github "SnapKit/SnapKit"
github "kirualex/SwiftyGif"
github "1024jp/GzipSwift"
github "daltoniam/Starscream" ~> 3.0
github "ashleymills/Reachability.swift" ~> 4.3.0

github "ReactiveX/RxSwift" ~> 5.0
github "RxSwiftCommunity/RxGesture"
github "pixeldock/RxAppState"
