name: CI v2

on:
  push:
    branches:
      - main
    paths:
      - 'Sources/**' # Only run if a file in /Sources changes (v2 folder)
  pull_request:
    branches:
      - main
    paths:
      - 'Sources/**' # Only run if a file in /Sources changes (v2 folder)
  release:
    types:
      - created

env:
  carthage-cache-dir: 'carthage-cache-14122020' # When you change carthage cache directory, please append the date
  HOMEBREW_NO_INSTALL_CLEANUP=1: 1 # Disable cleanup for homebrew, we don't need it on CI

jobs:
  build-and-test:
    name: Build and Test v2
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Cache Carthage dependencies
      uses: actions/cache@v2
      id: carthage-cache
      with:
        path: Carthage
        key: ${{ runner.os }}-${{ env.carthage-cache-dir }}-${{ hashFiles('**/Cartfile.resolved') }}
    - name: Cache RubyGems
      uses: actions/cache@v2
      id: rubygem-cache
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gem-
    - name: Cache Mint
      uses: actions/cache@v2
      id: mint-cache
      with:
        path: /usr/local/lib/mint
        key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
        restore-keys: ${{ runner.os }}-mint-
    - name: Run bootstrap.sh
      run: ./bootstrap.sh    
    - name: Install Carthage dependencies
      run: bundle exec fastlane carthage_bootstrap
    - name: Build all targets
      run: bundle exec fastlane build_for_testing
    - name: Run all tests
      run: bundle exec fastlane test_without_building

  run-danger:
    name: Run Danger
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Cache RubyGems
        uses: actions/cache@v2
        id: rubygem-cache
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gem-
      - name: Cache Mint
        uses: actions/cache@v2
        id: mint-cache
        with:
          path: /usr/local/lib/mint
          key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
          restore-keys: ${{ runner.os }}-mint-
      - name: Run bootstrap.sh
        run: ./bootstrap.sh
      - name: Run Danger
        run: bundle exec danger
        env:
          GITHUB_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}

  test-carthage-integration:
    name: Test Carthage integration
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Cache Carthage dependencies
      uses: actions/cache@v2
      id: carthage-cache
      with:
        path: Carthage
        key: ${{ runner.os }}-${{ env.carthage-cache-dir }}-${{ hashFiles('**/Cartfile.resolved') }}
    - name: Cache RubyGems
      uses: actions/cache@v2
      id: rubygem-cache
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gem-
    - name: Cache Mint
      uses: actions/cache@v2
      id: mint-cache
      with:
        path: /usr/local/lib/mint
        key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
        restore-keys: ${{ runner.os }}-mint-
    - name: Run bootstrap.sh
      run: ./bootstrap.sh
    - name: Test Carthage integration
      run: bundle exec fastlane test_carthage_integration

  test-cocoapods-integration:
    name: Test CocoaPods integration
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Cache RubyGems
      uses: actions/cache@v2
      id: rubygem-cache
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gem-
    - name: Cache Mint
      uses: actions/cache@v2
      id: mint-cache
      with:
        path: /usr/local/lib/mint
        key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
        restore-keys: ${{ runner.os }}-mint-
    - name: Run bootstrap.sh
      run: ./bootstrap.sh
    - name: Test Cocoapods integration
      run: bundle exec fastlane test_cocoapods_integration

  test-spm-integration:
    name: Test SPM integration
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Cache RubyGems
      uses: actions/cache@v2
      id: rubygem-cache
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gem-
    - name: Cache Mint
      uses: actions/cache@v2
      id: mint-cache
      with:
        path: /usr/local/lib/mint
        key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
        restore-keys: ${{ runner.os }}-mint-
    - name: Run bootstrap.sh
      run: ./bootstrap.sh
    - name: Test SPM integration
      run: bundle exec fastlane test_spm_integration  
