name: Cron Checks

on:
  schedule:
    # Runs "At 03:00 every night"
    - cron: '0 3 * * *'

  release:
    types:
      - created

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI

jobs:
  build-and-test-e2e-debug:
    name: Test E2E UI (Debug)
    strategy:
      matrix:
        include:
          - ios: 16.2
            setup_runtime: false
            device: "iPhone 14 Pro Max"
            xcode: 14.2
            os: macos-12
          - ios: 15.4
            setup_runtime: true
            device: "iPhone 8"
            xcode: 14.2
            os: macos-12
          - ios: 14.5
            setup_runtime: true
            device: "iPhone SE (2nd generation)"
            xcode: 14.2
            os: macos-12
          - ios: 13.7
            setup_runtime: true
            device: "iPad Air (3rd generation)"
            xcode: 14.2
            os: macos-12
          - ios: 12.4
            setup_runtime: true
            device: "iPhone X"
            xcode: 14.2
            os: macos-12
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_EVENT: ${{ toJson(github.event) }}
      GITHUB_PR_NUM: ${{ github.event.number }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
      XCODE_VERSION: ${{ matrix.xcode }}
      STREAM_DEMO_APP_SECRET: ${{ secrets.STREAM_DEMO_APP_SECRET }}
      IOS_SIMULATOR_DEVICE: "${{ matrix.device }} (${{ matrix.ios }})"
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_ALLURE: true
        INSTALL_XCPARSE: true
    - name: Setup iOS ${{ matrix.ios }} Runtime
      if: ${{ matrix.setup_runtime }}
      timeout-minutes: 60
      run: sudo xcodes runtimes install 'iOS ${{ matrix.ios }}'
    - name: Launch Allure TestOps
      run: bundle exec fastlane allure_launch cron:true
    - name: Run UI Tests (Debug)
      run: bundle exec fastlane test_e2e_mock cron:true device:"${{ matrix.device }}" ios:"${{ matrix.ios }}"
      timeout-minutes: 90
    - name: Allure TestOps Upload
      if: success() || failure()
      run: bundle exec fastlane allure_upload launch_id:$LAUNCH_ID
    - name: Allure TestOps Launch Removal
      if: cancelled()
      run: bundle exec fastlane allure_launch_removal launch_id:$LAUNCH_ID
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        job_name: "${{ github.workflow }}: ${{ github.job }}"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: failure() && github.event_name == 'schedule'
    - name: Parse xcresult
      if: failure()
      run: xcparse logs fastlane/test_output/StreamChatUITestsApp.xcresult fastlane/test_output/logs/
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test Data
        path: |
          fastlane/recordings
          fastlane/sinatra_log.txt
          fastlane/test_output/logs/*/Diagnostics/StreamChatUITestsAppUITests-*/*/*.txt

  build-and-test-debug:
    name: Test LLC (Debug)
    strategy:
      matrix:
        include:
          - xcode: 14.3
            os: macos-13
          - xcode: 14.2
            os: macos-12
          - xcode: 13.4.1
            os: macos-12
          - xcode: 13.1
            os: macos-12
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
    - name: Run LLC Tests (Debug)
      run: bundle exec fastlane test device:"iPhone 8"
      timeout-minutes: 30
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PR_NUM: ${{ github.event.number }}
        XCODE_VERSION: ${{ matrix.xcode }}
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        job_name: "${{ github.workflow }}: ${{ github.job }}"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: failure() && github.event_name == 'schedule'

  automated-code-review:
    name: Automated Code Review
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
    - run: bundle exec fastlane rubocop
    - run: ./Scripts/run-linter.sh
    - run: bundle exec fastlane pod_lint
