name: Size Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true
      
env:
  HOMEBREW_NO_INSTALL_CLEANUP=1: 1 # Disable cleanup for homebrew, we don't need it on CI
  DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer # Use Xcode 12.4

jobs:
  upload--build:
    name: Upload Build to Emerge
    runs-on: macos-latest
    steps:
      - name: Install Bot SSH Key
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
      - uses: actions/checkout@v1
      - uses: ./.github/actions/set-build-image-var
      - name: Cache RubyGems
        uses: actions/cache@v2
        id: rubygem-cache
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-${{ env.ImageVersion }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-${{ env.ImageVersion }}-gem-
      - name: Cache Mint
        uses: actions/cache@v2
        id: mint-cache
        with:
          path: /usr/local/lib/mint
          key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
          restore-keys: ${{ runner.os }}-mint-
      - uses: ./.github/actions/bootstrap
      - name: Run match_me
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        run: bundle exec fastlane match_me
      - name: Run emerge_upload
        env:
          GITHUB_PR_NUM: ${{ github.event.number }}
          GITHUB_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_TOKEN }}
        run: bundle exec fastlane emerge_upload
        