name: Size Check

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI

jobs:
  upload--build:
    name: Upload Build to Emerge
    runs-on: macos-12
    steps:
      - name: Install Bot SSH Key
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
      - uses: actions/checkout@v2
      - uses: ./.github/actions/set-build-image-var
      - uses: ./.github/actions/bootstrap
      - name: Run match_me
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        run: bundle exec fastlane match_me
      - name: Run emerge_upload
        env:
          GITHUB_PR_NUM: ${{ github.event.number }}
          GITHUB_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_TOKEN }}
        run: bundle exec fastlane emerge_upload
