name: SDK Performance

on:
  schedule:
    # Runs "At 03:00 every night except weekends"
    - cron: '0 3 * * 1-5'

  pull_request:
    types:
      - opened
      - ready_for_review

  workflow_dispatch:

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  XCODE_VERSION: "16.4"

jobs:
  performance:
    name: Metrics
    runs-on: macos-15
    env:
      GITHUB_TOKEN: '${{ secrets.CI_BOT_GITHUB_TOKEN }}'
    steps:
      - name: Connect Bot
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12 # gsutil requires Python version 3.8-3.12

      - uses: actions/checkout@v3.1.0
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        with:
          fetch-depth: 0 # to fetch git tags

      - uses: ./.github/actions/bootstrap
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          INSTALL_GCLOUD: true

      - name: Run XCMetrics
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        run: bundle exec fastlane xcmetrics
        timeout-minutes: 120
        env:
          GITHUB_PR_NUM: ${{ github.event.pull_request.number }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Test Data
          path: |
            derived_data/Build/Products/xcodebuild_output.log
            fastlane/performance/stream-chat-swift.json
