name: Smoke Checks

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    branches:
      - '**'

  release:
    types:
      - created

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  XCODE_VERSION: 13.4.1
  IOS_VERSION: "15.5"
  IOS_SIMULATOR_DEVICE: "iPhone 12 Pro"
  IOS_SIMULATOR_DEVICE_WITH_VERSION: "iPhone 12 Pro (15.5)"

jobs:
  # automated-code-review:
  #   name: Automated Code Review
  #   runs-on: macos-12
  #   if: ${{ github.event_name != 'push' }}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: ./.github/actions/bootstrap
  #     - name: Run Danger
  #       run: bundle exec danger
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
  #     - name: Run Linting
  #       run: ./Scripts/run-linter.sh

  # build-and-test-debug:
  #   name: Test LLC (Debug)
  #   runs-on: macos-12
  #   env:
  #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     GITHUB_EVENT: ${{ toJson(github.event) }}
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       fetch-depth: 100
  #   - uses: actions/setup-python@v3.0.0
  #     with:
  #       python-version: 3.8
  #       cache: 'pip'
  #   - uses: ./.github/actions/bootstrap
  #     env:
  #       INSTALL_SONAR: true
  #   - name: Run Fastlane Linting
  #     run: bundle exec fastlane rubocop
  #   - name: Run LLC Tests (Debug)
  #     run: bundle exec fastlane test device:"${{ env.IOS_SIMULATOR_DEVICE }}"
  #     timeout-minutes: 25
  #   - name: Get branch name
  #     id: get_branch_name
  #     run: echo "##[set-output name=branch;]${GITHUB_REF#refs/heads/}"
  #   - name: Run Sonar analysis
  #     run: bundle exec fastlane sonar_upload
  #     env:
  #       BRANCH_NAME: ${{ steps.get_branch_name.outputs.branch }}
  #       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  #       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #       PR_NUMBER: ${{ github.event.number }}
  #   - uses: 8398a7/action-slack@v3
  #     with:
  #       status: ${{ job.status }}
  #       text: "You shall not pass!"
  #       job_name: "Test LLC (Debug)"
  #       fields: message,commit,author,action,workflow,job,took
  #     env:
  #       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  #       MATRIX_CONTEXT: ${{ toJson(matrix) }}
  #     if: ${{ github.event_name == 'push' && failure() }}

  # build-and-test-ui-debug:
  #   name: Test UI (Debug)
  #   runs-on: macos-12
  #   if: ${{ github.event_name != 'push' }}
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: ./.github/actions/bootstrap
  #   - name: "Prepare ${{ env.IOS_SIMULATOR_DEVICE }} with iOS ${{ env.IOS_VERSION }}"
  #     uses: ./.github/actions/prepare-ios-simulator
  #     with:
  #       device: ${{ env.IOS_SIMULATOR_DEVICE }}
  #       ios: ${{ env.IOS_VERSION }}
  #       xcode: ${{ env.XCODE_VERSION }}
  #   - name: Run UI Tests (Debug)
  #     run: bundle exec fastlane test_ui device:"${{ env.IOS_SIMULATOR_DEVICE_WITH_VERSION }}"
  #     timeout-minutes: 25
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       GITHUB_EVENT: ${{ toJson(github.event) }}

  build-and-test-e2e-debug:
    name: Test E2E UI (Debug)
    runs-on: macos-12
    if: ${{ github.event_name != 'push' }}
    needs: allure_testops_launch
    env:
      LAUNCH_ID: ${{ needs.allure_testops_launch.outputs.launch_id }}
    strategy:
      matrix:
        batch: [0]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
      if: env.LAUNCH_ID != ''
    - uses: ./.github/actions/bootstrap
      if: env.LAUNCH_ID != ''
      env:
        INSTALL_ALLURE: true
    - name: Run UI Tests (Debug)
      if: env.LAUNCH_ID != ''
      run: bundle exec fastlane test_e2e_mock device:"${{ env.IOS_SIMULATOR_DEVICE }}" batch:'${{ matrix.batch }}'
      timeout-minutes: 35
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_EVENT: ${{ toJson(github.event) }}
        MATRIX_SIZE: ${{ strategy.job-total }}
    - name: Allure TestOps Upload
      if: env.LAUNCH_ID != '' && (success() || failure())
      run: bundle exec fastlane allure_upload launch_id:$LAUNCH_ID
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
    - name: Allure TestOps Launch Removal
      if: env.LAUNCH_ID != '' && cancelled()
      run: bundle exec fastlane allure_launch_removal launch_id:$LAUNCH_ID
      env:
        ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}

  allure_testops_launch:
    name: Launch Allure TestOps
    runs-on: macos-12
    if: ${{ github.event_name != 'push' }}
    outputs:
      launch_id: ${{ steps.get_launch_id.outputs.launch_id }}
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions/bootstrap
      env:
        XCODE_ACTIONS: false
    - name: Launch Allure TestOps
      run: bundle exec fastlane allure_launch
      env:
        ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_EVENT: ${{ toJson(github.event) }}
    - id: get_launch_id
      run: echo "::set-output name=launch_id::${{env.LAUNCH_ID}}"
      if: env.LAUNCH_ID != ''

  # build-xcode12:
  #   name: Build LLC + UI (Xcode 12)
  #   runs-on: macos-11
  #   if: ${{ github.event_name != 'push' }}
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: ./.github/actions/bootstrap
  #   - name: Build LLC (Xcode 12)
  #     run: bundle exec fastlane test device:"iPhone 12" build_for_testing:true
  #     timeout-minutes: 25
  #     env:
  #       XCODE_VERSION: "12.5.1"
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       GITHUB_EVENT: ${{ toJson(github.event) }}
  #   - name: Build UI (Xcode 12)
  #     run: bundle exec fastlane test_ui device:"iPhone 12" build_for_testing:true
  #     timeout-minutes: 25
  #     env:
  #       XCODE_VERSION: "12.5.1"
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       GITHUB_EVENT: ${{ toJson(github.event) }}

  # build-apps:
  #   name: Build Sample + Demo Apps
  #   runs-on: macos-12
  #   if: ${{ github.event_name != 'push' }}
  #   env:
  #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     GITHUB_EVENT: ${{ toJson(github.event) }}
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: ./.github/actions/bootstrap
  #   - name: Build Sample App
  #     run: bundle exec fastlane build_sample
  #     timeout-minutes: 10
  #   - name: Build Demo App
  #     run: bundle exec fastlane build_demo
  #     timeout-minutes: 10
  #   - name: Build iMessageClone App
  #     run: bundle exec fastlane build_imessage_clone
  #     timeout-minutes: 10
  #   - name: Build SlackClone App
  #     run: bundle exec fastlane build_slack_clone
  #     timeout-minutes: 10
  #   - name: Build MessengerClone App
  #     run: bundle exec fastlane build_messenger_clone
  #     timeout-minutes: 10
  #   - name: Build YouTubeClone App
  #     run: bundle exec fastlane build_youtube_clone
  #     timeout-minutes: 10

  # spm-integration:
  #   name: Test Integration (SPM)
  #   runs-on: macos-12
  #   if: ${{ github.event_name != 'push' }}
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: ./.github/actions/bootstrap
  #   - name: Build Test Project
  #     run: bundle exec fastlane spm_integration
  #     timeout-minutes: 25
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       GITHUB_EVENT: ${{ toJson(github.event) }}

  # cocoapods-integration:
  #   name: Test Integration (CocoaPods)
  #   runs-on: macos-12
  #   if: ${{ github.event_name != 'push' }}
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: ./.github/actions/bootstrap
  #   - name: Build Test Project
  #     run: bundle exec fastlane cocoapods_integration
  #     timeout-minutes: 25
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       GITHUB_EVENT: ${{ toJson(github.event) }}
