name: Test Flight Deploy DemoApp

on:
  pull_request:
    branches:
      - 'main'
  release:
    types: [published]

  workflow_dispatch:

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1

jobs:
  deploy:
    runs-on: macos-12
    steps:
    - name: Install Bot SSH Key
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
    - uses: actions/checkout@v2
    - uses: ./.github/actions/bootstrap
    - name: Deploy Demo app
      env:
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_EVENT: ${{ toJson(github.event) }}
      run: bundle exec fastlane testflight_build
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: failure()
