name: Test Flight Deploy DemoApp

on:
  release:
    types: [published]

  workflow_dispatch:
  
env:
  HOMEBREW_NO_INSTALL_CLEANUP=1: 1

jobs:
  deploy:
    runs-on: macos-11

    steps:
    - name: Install Bot SSH Key
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
    - uses: actions/checkout@v1
    - name: Set build image var
      run: echo "ImageVersion=$ImageVersion"  >> $GITHUB_ENV
    - name: Cache RubyGems
      uses: actions/cache@v2
      id: rubygem-cache
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-${{ env.ImageVersion }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-${{ env.ImageVersion }}-gem-
    - name: Cache Mint
      uses: actions/cache@v2
      id: mint-cache
      with:
        path: /usr/local/lib/mint
        key: ${{ runner.os }}-mint-${{ hashFiles('./Mintfile') }}
        restore-keys: ${{ runner.os }}-mint-
    - uses: ./.github/actions/bootstrap
    - name: Deploy Demo app
      env:
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}
      run: bundle exec fastlane testflight_build
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: failure()


